/* iOS overrides hightlight color show when the user taps a link */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Prevent iOS from adjusting text while changing orientation */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* iOS resets for search fields */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
